/*medium css for Week 2 Design Principles file*/
@media only screen and (min-width: 60em) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 966px;
    }
  
    header, footer {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: .75;
      /* margin: 5.5rem; */
      border-radius: 5px;
    }
  
  }